<h3><em>About Us</em></h3>
<br>
<h4>This group was founded on the premise that cats are what own us. All members agree that we cannot plan our days without a swift swat of the cat paw to dictate our moves.
<br><br>
Events are held semi-annually in a location that is generally TBD.
<br><br>
A support section is up-and-coming, for those of you facing cat issues.
<br><br>
Chances are that there is a Cat Fancier&copy; member in your area. Admin can help provide contact info for a small fee.
<br><br>
Meow.</h4>
<br><br>
<img src="./assets/img/about3.jpeg">
<img src="./assets/img/about1.png">
<img src="./assets/img/about2.jpeg">
<img src="./assets/img/about4.jpeg">
<img src="./assets/img/about5.png">
