<h3><em>Here are the prized members of Cat Fanciers&copy;...</em></h3>
<h5><em>Click on any member to view more information.</em></h5>

<select (change)="onChange($event.target.value)">
  <option value="allCats" selected="selected">All Members</option>
  <option value="low">Members with few cats</option>
  <option value="high">Members with many cats</option>
</select>

<div class="flex-container">
  <div *ngFor="let member of members | async | cats:filterByCats">
    <div class="flex-body">
      <div class="well">
        <div class="tiger"></div>
        <div (click)="goToDetailPage(member)">
          <img src="{{member.picture}}">
          <h4 contentEditable role='textbox' aria-multiline='true'><em>{{member.name}}</em></h4>
        </div>
        <div id="admin" *ngIf="currentRoute === '/admin'">
          <hr>
          <app-edit-member [selectedMember]="member"></app-edit-member>
        </div>
      </div>
    </div>
  </div>
</div>
